@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    background: #0ef;
    color: #1f242d;
}

body {
    background: #000000;
    color: #fff;
}
.header{
    background: transparent;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: azure;
    font-weight: 600;
    text-decoration: none;
    cursor: default;

}
.hover{
    font-size: 23px;
    text-decoration: none;
    color: #fff;
    padding: 0px 10px;
    font-weight: 500px;
    letter-spacing: 0.5px;
    position: relative;

    
}
.hover:after{
    content: "";
    position:absolute;
    background-color: rgb(225, 26, 46);
    height: 3px;
    width: 0; 
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.hover:hover::after{
    width: 100%;
}
.home{
    position: relative;
    max-width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.home-conent{
    max-width: 600px;
}
.home-conent h3 {
    font-size: 32px;
    font-weight: 700px;
}
span{
    color: rgb(225, 26, 46);
} 
.home-conent h1{
    font-size: 45px;
    font-weight: 700px;
    margin: -3px 0;
}
.my-img{
    max-width: 450px;
    margin-right: 20px;

}
.social-media a {
    display: inline-flex;
    justify-content:center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(225, 26, 46);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(225, 26, 46);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;

}
.social-media a :hover {
    background:  rgb(225, 26, 46);
    color: black;
    box-shadow: 0 0 20px rgb(225, 26, 46);
    border-radius: 50%;
    border: 10px solid rgb(225, 26, 46);
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(225, 26, 46);
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 0 20px rgb(225, 26, 46);
    transition: .5s ease;

}
.about{
    display: flex;
    justify-content: center;
   align-items: center;
   gap: 2rem;
   background: var(--secong-bg-color);
    
}
.about-img img {
    width: 37vw;
}
.heading{
    
    font-size: 4rem;
}
.abot-content h3{
    font-size: 2rem;
    font-weight: 400;
}
.abot-content p{
    font-size: 1.9rems;
    margin: 2rem 0 3rem;
    width: 500px;
}
.cntainer1{
    width: 600px;
    height: 500px;
}
.headingg{
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 100px;
    
}
#h2{
  text-align: center;  justify-content: center;
  text-decoration: underline;
  text-underline-offset:10px ;
}
.tskill{
    display:flex;
    padding: 100px 80px;
    margin-left: 80px;
   
    
}
.rskill{
    margin-left: 150px;
}


::selection{
  color: #9c7e7e;
  background: #6665ee;
}
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #131111;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
  
   
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #fafafa;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 90%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 75%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "90%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "75%";
}
.progress-line.mysql span::after{
  content: "75%";
}
.skill-bars:hover{
  background-color: #211b1b;
}
.education{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-bottom: 5rem;

 

}
.education-content{
  width: 50rem;
  padding-bottom: 15px;
  padding-left: 50px;
  
}

.contact {
  align-items: center;
  text-align: center;
 
}

.con-sec {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 80%;
  max-width: 600px; 
}

.input-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-field {
  width: 100% 
}

.input-field:nth-child(odd) {
  margin-right: 10px;}

.input-field:last-child {
  margin-right: 0; 
}

.item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid red;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fafafa;
}

.btn {
  padding: 12px 32px;
  
  border: none;
  outline: none;
 
}

.btn:hover {
  box-shadow: none;
}
.error-txt{
  font-size: 13px;
  color: rgb(139, 139, 139);
  text-align: left;
  display: none;
}
